<div class="container">
  <span style="text-align: center;">
    <h2>Add Vendor</h2>
  </span>
  <form [formGroup]="addAdminForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <input type="text" formControlName="firstname" placeholder="FirstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
          <div *ngIf="submitted && f.firstname.errors" class="alert alert-danger">
            <div *ngIf="f.firstname.errors.required">First Name is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input type="text" formControlName="lastname" placeholder="LastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
          <div *ngIf="submitted && f.lastname.errors" class="alert alert-danger">
            <div *ngIf="f.lastname.errors.required">LastName is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="contact">Contact</label>
          <input type="contact" formControlName="contact" placeholder="Contact" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
          <div *ngIf="submitted && f.contact.errors" class="alert alert-danger">
            <div *ngIf="f.contact.errors.required">Contact is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="contact" formControlName="email" placeholder="Email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="alert alert-danger">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="user">User</label>
          <input type="text" formControlName="user" placeholder="User" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.user.errors }" />
          <div *ngIf="submitted && f.user.errors" class="alert alert-danger">
            <div *ngIf="f.user.errors.required">User is required for login</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" placeholder="Password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" style="text-align: right;">
        <div class="form-group">
          <span style="padding: 1em;"><a routerLink="/adminlogin" class="btn btn-secondary">Cancel</a></span>
          <button [disabled]="loading" class="btn btn-primary">Save</button>
          <img *ngIf="loading" class="pl-3"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>
