<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-heading">Manage Vendors</p>
    </div>
    <div class="admin-table-wrapper">
      <div class="text-subheading">Add, Update and Delete vendor.
        <div class="add-button post-btn" (click)="onAdd($event)" id="add" title="add">Add</div>
      </div>
      <div class="divTable">
        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="vendorname">
            <mat-header-cell *matHeaderCellDef> Vendor Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vendorname}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contact}} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a class="fa fa-edit" title="edit" aria-hidden="true" (click)="onEdit($event)"
                id="{{element._id}}"></a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
