<div class="text-center">
  <h3>
      Bite Off More Than One Can Chew
      </h3>
    <p>
      Come dine with us
    </p>
    <p>
      Authentic flavours
    </p>
    <p>
      Tickle your taste buds
    </p>
    <div class="imagediv">
      <img src="/../assets/pizza.png" class="img-rounded" alt="Pizza">
      <img src="/../assets/icecream.jfif" class="img-rounded" alt="Ice Cream">
      <img src="/../assets/noodle.png" class="img-rounded" alt="Noodle">
    </div>
    <p>
        Shop 786, Kandivali, Mumbai - 400101
    </p>
    <p>
        +91-9876543210, +91-8765432109
    </p>
  </div>