<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>S w a r a</h1>
  <h2>Dine   In</h2>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>  </li>
        <li><a class="nav-link" routerLink="placeorder" routerLinkActive="active" *ngIf="!authService.logIn">Place Order</a>  </li>
        <li><a class="nav-link" routerLink="vendorlogin" routerLinkActive="active" *ngIf="!authService.logIn">Vendor</a> </li>
        <li><a class="nav-link" routerLink="vendor" routerLinkActive="active" *ngIf="authService.vendorLogIn">Vendor</a> </li>
        <li><a class="nav-link" routerLink="adminlogin" routerLinkActive="active" *ngIf="!authService.logIn">Administrator</a> </li>
        <li><a class="nav-link" routerLink="admin" routerLinkActive="active" *ngIf="authService.adminLogIn">Administrator</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li style="float:right" > <a class ="nav-link glyphicon glyphicon-log-out" (click)="authService.logout()" href="#" *ngIf="authService.logIn"> Logout</a>  </li>
        </ul>
    </div>
  </nav>

  </div>
  <router-outlet></router-outlet>
  <footer class="page-footer font-small">
      <div class="footer-copyright text-center py-6">
        <hr/>
        Developed by Capstone Developer
        <hr/>
      </div>
  </footer>
